body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121214;
}

.container a {
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    color: #FFF;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: #8257e5;
}


.input {
    height: 38px;
    border-radius: 8px;
    max-width: 300px;
    width: 100%;
    margin: 24px 0;
    padding: 8px;
    outline: none;
    border: 1px solid #B6B6B6;
    font-size: 16px;
}

.qrcode {
    background-color: #FFF;
    border-radius: 8px;
    padding: 10px;
}